<style>
    .panel-body {
        box-shadow: 2px 3px 2px 3px whitesmoke;
        margin-bottom:15px;
    }
</style>

<div class="panel-body" style="font-size:large;">
    <div class="row">
        <div class="col-sm-2">
            @Html.ActionLink("Admin Home", "index", "Admin")
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Intent", "Intent", "Admin")
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Question", "ask", "Admin")
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Parameter", "param", "Admin")
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Entity", "Entity", "Admin")
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Fail", "Fail", "Admin")
        </div>
    </div>
</div>