@model ChaT.ai.Dto.FeatureDto
@{
    ViewBag.Title = "Admin";
}
<style>
    .form-control {
        margin-bottom: 10px;
    }

    .page-subheader {
        font-size: x-large;
    }
</style>
<div style="padding-top:23px;">
    @Html.Partial("_AdminPartial")
</div>
<div style="padding-top:15px;">
    <span class="page-subheader">Feature</span>
    <button type="button" class="btn btn-link newProject"
            data-toggle="modal"
            data-target="#projectModal">
        Add Feature
    </button>
    <span class="page-subheader" style="float:right;padding-left:23px;">        
        <span style="color:#545353">Hours Spent:</span>
        <span style="color:green">@Model.ActualHrs</span>
    </span>
    <span class="page-subheader" style="float:right;">        
        <span style="color:#545353">Stories Developed:</span>
        <span style="color:green">@Model.FeaturesDeveloped</span>
    </span>
</div>
<table class="table" id="questionTable">
    <thead>
        <tr style="font-size:medium;background-color:whitesmoke;text-align:center;">
            <th>Feature Name</th>
            <th>Feature Description</th>
            <th>Story Groomed</th>
            <th>Dev Status</th>
            <th>Estd. Hrs</th>
            <th>Actual Hrs</th>
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @{ int itemCounter = 0;
            foreach (var item in Model.feature)
            {
                int story = (item.StoryGroomed) ? 1 : 0;
                int dev = (item.DevelopmentComplete) ? 1 : 0;
                itemCounter = itemCounter + 1;
                <tr style="font-weight:bold;font-size:medium">
                    <td>@itemCounter.ToString().@item.FeatureName</td>
                    <td>@item.FeatureDesc</td>
                    @{ if (item.StoryGroomed)
                        {
                            <td style="text-align:center;"><span class="glyphicon glyphicon-ok" style="color:green;font-size:large"></span></td>
                        }
                        else
                        {
                            <td style="text-align:center;"><span class="glyphicon glyphicon-minus"></span></td>
                        }
                    }
                    @{ if (item.DevelopmentComplete)
                        {
                            <td style="text-align:center;"><span class="glyphicon glyphicon-ok" style="color:green;font-size:large"></span></td>
                        }
                        else
                        {
                            <td style="text-align:center;"><span class="glyphicon glyphicon-minus"></span></td>
                        }
                    }
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-default glyphicon glyphicon-plus newSubFeature"
                                data-toggle="modal"
                                data-featureid="@item.FeatureId"
                                data-featurename="@item.FeatureName"
                                data-target="#subFeatureModal"></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default glyphicon glyphicon-edit openExistingProject"
                                data-toggle="modal"
                                data-featureid="@item.FeatureId"
                                data-featurename="@item.FeatureName"
                                data-featuredesc="@item.FeatureDesc"
                                data-featurestory="@story"
                                data-featuredev="@dev"
                                data-lastupdated="@item.UpdatedDate"
                                data-target="#projectModal"></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default glyphicon glyphicon-trash deleteExistingProject"
                                data-toggle="modal"
                                data-featureid="@item.FeatureId"
                                data-featurename="@item.FeatureName"
                                data-featuredesc="@item.FeatureDesc"
                                data-featurestory="@story"
                                data-featuredev="@dev"
                                data-lastupdated="@item.UpdatedDate"
                                data-target="#projectModal"></button>
                    </td>
                </tr>
                foreach (var subitem in Model.subfeature)
                {
                    int substory = (subitem.StoryGroomed) ? 1 : 0;
                    int subdev = (subitem.DevelopmentComplete) ? 1 : 0;
                    if (subitem.FeatureId == item.FeatureId)
                    {
                        <tr style="font-style:italic;font-size:medium">
                            <td><span class="glyphicon glyphicon-circle-arrow-right" style="color:green; padding-right:5px;"></span>@subitem.SubFeatureName</td>
                            <td>@subitem.SubFeatureDesc</td>
                            @{ if (subitem.StoryGroomed)
                                {
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok" style="color:green;font-size:small"></span></td>
                                }
                                else
                                {
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-minus"></span></td>
                                }
                            }
                            @{ if (subitem.DevelopmentComplete)
                                {
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok" style="color:green;font-size:small"></span></td>
                                }
                                else
                                {
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-minus"></span></td>
                                }
                            }
                            <td>@subitem.EffortEstimated</td>
                            <td>@subitem.EffortActual</td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-default glyphicon glyphicon-edit openExistingSubFeature"
                                        data-toggle="modal"
                                        data-featureid="@subitem.FeatureId"
                                        data-featurename="@item.FeatureName"
                                        data-subfeatureid="@subitem.SubFeatureId"
                                        data-subfeaturename="@subitem.SubFeatureName"
                                        data-subfeaturedesc="@subitem.SubFeatureDesc"
                                        data-subfeaturestory="@substory"
                                        data-subfeaturedev="@subdev"
                                        data-estimated="@subitem.EffortEstimated"
                                        data-actual="@subitem.EffortActual"
                                        data-lastupdated="@subitem.UpdatedDate"
                                        data-target="#subFeatureModal"></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default glyphicon glyphicon-trash deleteExistingSubFeature"
                                        data-toggle="modal"
                                        data-featureid="@subitem.FeatureId"
                                        data-featurename="@item.FeatureName"
                                        data-subfeatureid="@subitem.SubFeatureId"
                                        data-subfeaturename="@subitem.SubFeatureName"
                                        data-subfeaturedesc="@subitem.SubFeatureDesc"
                                        data-subfeaturestory="@substory"
                                        data-subfeaturedev="@subdev"
                                        data-estimated="@subitem.EffortEstimated"
                                        data-actual="@subitem.EffortActual"
                                        data-lastupdated="@subitem.UpdatedDate"
                                        data-target="#subFeatureModal"></button>
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>


<div id="projectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="appHeading">Feature</h4>
                <div><span style="color:dodgerblue" id="lastUpdated"></span></div>
            </div>

            <div class="modal-body">
                <input type="hidden" id="feature-id" />
                <input type="hidden" id="operation" />
                <input type="hidden" id="table-reload" value="n" />

                <div class="row">
                    <div class="col-sm-2">Name</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="feature-name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Description</div>
                    <div class="col-sm-10"><input type="text" class="form-control" id="feature-desc" /></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Story</div>
                    <div class="col-sm-10">
                        <select class="form-control" name="feature-story" id="feature-story">
                            <option value="1" selected>Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Dev Status</div>
                    <div class="col-sm-10">
                        <select class="form-control" name="feature-dev" id="feature-dev">
                            <option value="1">Yes</option>
                            <option value="0" selected>No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="saveProject" type="button" class="btn btn-default">Save</button>
                <button id="closeProject" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="subFeatureModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="appHeading" id="story-name">Story</h4>
                <div><span style="color:dodgerblue" id="lastUpdatedSub"></span></div>
            </div>

            <div class="modal-body">
                <input type="hidden" id="feature-id" />
                <input type="hidden" id="subfeature-id" />
                <input type="hidden" id="operation" />
                <input type="hidden" id="table-reload" value="n" />

                <div class="row">
                    <div class="col-sm-2">Name</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="subfeature-name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Description</div>
                    <div class="col-sm-10"><input type="text" class="form-control" id="subfeature-desc" /></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Story</div>
                    <div class="col-sm-10">
                        <select class="form-control" name="subfeature-story" id="subfeature-story">
                            <option value="1" selected>Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Dev Status</div>
                    <div class="col-sm-10">
                        <select class="form-control" name="subfeature-dev" id="subfeature-dev">
                            <option value="1">Yes</option>
                            <option value="0" selected>No</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Estimated Hrs</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="subestimated" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Actual Hrs</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="subactual" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="saveSubFeature" type="button" class="btn btn-default">Save</button>
                <button id="closeSubFeature" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/feature.js"></script>
<script src="~/Scripts/featuresub.js"></script>