@model IEnumerable<ChaT.ai.Dto.AskDto>

    @{
        ViewBag.Title = "ChatQuestion";
        List<SelectListItem> intents = ViewBag.intents as List<SelectListItem>;
    }

    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>


    <style>

        table.dataTable thead .sorting_asc {
            background: url("../Content/img/sort_asc.png") no-repeat center right;
        }

        table.dataTable thead .sorting {
            background: url("../Content/img/sort_both.png") no-repeat center right;
        }

        table.dataTable thead .sorting_desc {
            background: url("../Content/img/sort_desc.png") no-repeat center right;
        }
        .form-control {
            margin-bottom:10px;
        }
        .page-subheader {
            font-size: x-large;
        }
    </style>

    <p style="padding-top:23px;">
        <span class="page-subheader">Questions</span>
        <button type="button" class="btnEdit btn btn-link newProject"
                data-toggle="modal" data-target="#projectModal">
            Create
        </button>
    </p>
    <div>
        @Html.Partial("_AdminPartial")
    </div>
    <table class="table" id="questionTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChatIntentName)
                </th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChatIntentName)
                    </td>
                    <td>
                        <button type="button" class="btn btn-default glyphicon glyphicon-edit openExistingProject"
                                data-toggle="modal" data-id=@item.QuestionId data-name="@item.QuestionDesc" data-intentid="@item.ChatIntentId" data-intentname="@item.ChatIntentName" data-lastupdated="@item.UpdatedDate" data-target="#projectModal"></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default glyphicon glyphicon-trash deleteExistingProject"
                                data-toggle="modal" data-id=@item.QuestionId data-name="@item.QuestionDesc" data-intentid="@item.ChatIntentId" data-intentname="@item.ChatIntentName" data-lastupdated="@item.UpdatedDate" data-target="#projectModal"></button>
                    </td>
                </tr>
            </tbody>
        }
    </table>


    <div id="projectModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="appHeading">Question</h4>
                    <div><span style="color:dodgerblue" id="lastUpdated"></span></div>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="questionId" />
                    <input type="hidden" id="intentId" />
                    <input type="hidden" id="operation" />
                    <input type="hidden" id="table-reload" value="n" />

                    <div class="row">
                        <div class="col-sm-2">Question</div>
                        <div class="col-sm-10"><input type="text" class="form-control" id="questionDesc" /></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">Intent</div>
                        <div class="col-sm-10">
                            @*<input type="text" class="form-control" id="intentName" />*@
                            <select class="form-control" name="intentName" id="intentName">
                                @{
                                    foreach (SelectListItem intent in intents)
                                    {
                                        <option value="@intent.Value">@intent.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="saveProject" type="button" class="btn btn-default">Save</button>
                    <button id="closeProject" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(function () {

            $(document).ready(function () {
                //$('#questionTable').DataTable({
                //    "pageLength": 50
               // });
            });

            //open Modal for existing project

            $(document).on('click', '.openExistingProject', function () {
                $('#saveProject').html('Update');
                $('#saveProject').removeAttr('disabled');
                $('#questionId').val($(this).data('id'));
                $('#intentId').val($(this).data('intentid'));
                $('#intentName').val($(this).data('intentid'));
                $('#intentName option:selected').text($(this).data('intentname'));
                $('#questionDesc').val($(this).data('name'));
                $('#lastUpdated').html('Last Updated: ' + $(this).data('lastupdated'));
                $('#operation').val("u");
            });

            //open Modal for delete

            $(document).on('click', '.deleteExistingProject', function () {
                $('#saveProject').html('Delete');
                $('#saveProject').removeAttr('disabled');
                $('#questionId').val($(this).data('id'));
                $('#intentId').val($(this).data('intentid'));
                $('#intentName').val($(this).data('intentid'));
                $('#intentName option:selected').text($(this).data('intentname'));
                $('#questionDesc').val($(this).data('name'));
                $('#lastUpdated').html('Last Updated: ' + $(this).data('lastupdated'));
                $('#operation').val("d");
            });


            //open Modal for new project

            $(document).on('click', '.newProject', function () {
                $('#saveProject').html('Add');
                $('#saveProject').removeAttr('disabled');
                $('#questionId').val(0);
                $('#lastUpdated').html('Adding New Project');
                $('#operation').val("a");
            });



            // save project

            $(document).on('click', '#saveProject', function () {
                var questionId = $('#questionId').val();
                var questionDesc = $('#questionDesc').val();
                var intendId = $('#intentName').val(); // $('#intendId').val();
                var intendName = $('#intentName option:selected').text();
                var operation = $('#operation').val();
                var updatedDate = new Date;
                var project = { QuestionId: questionId, QuestionDesc: questionDesc, ChatIntentId: intendId, ChatIntentName: intendName, UpdatedDate: updatedDate };
                var finalProject = { ask: project, operation: operation };
                $.ajax({
                    type: "POST",
                    url: "/home/QuestionUpdate/",
                    data: JSON.stringify(finalProject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result == true) {
                            $('#lastUpdated').html('Updated Successfully <span style="color:green" class="glyphicon glyphicon-ok-circle"> </span>');
                            $('#table-reload').val("y");
                            $('#saveProject').attr('disabled', 'disabled');
                        }
                        else {
                            $('#lastUpdated').html('Updated Failed <span style="color:red" class="glyphicon glyphicon-remove-circle"> </span>');
                            $('#table-reload').val("n");
                            $('#saveProject').removeAttr('disabled');
                        }
                    },
                    error: function (errorMsg) {
                        $('#lastUpdated').html('<span class="alert alert-warning">' + errorMsg.statusText + '</span> ');
                    }
                });
            });



            //Close Modal

            $(document).on('click', '#closeProject', function () {
                if ($('#table-reload').val() == "y") {
                    location.reload();
                }
            });

            $('#intentName').change(function () {
                $('#intentId').val($(this).val());
            });

        });



    </script>